body {
  all: unset;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #ddd;
  max-height: 12rem;
}

/* * {
  line-height: 1.8rem;
} */

a {
  color: white;
}

.section-heading {
  padding: 0.5rem;
  color: #003d73;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 12rem;
  margin-right: 12rem;
}

.left {
  background-color: #003d73;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
}

.left-flex {
  display: flex;
  flex-direction: column;
  color: white;
}

.left-flex h1,
h2,
h3,
h4,
h5,
h6,
a {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.left-flex h3 {
  background-color: #00315c;
}

.right {
  background-color: #fff;
}

.right-flex {
  padding: 1.5rem;
}

.section-content {
  display: flex;
  flex-direction: row;
}

.dates {
  padding-right: 2rem;
}

.firstdate {
  padding-bottom: 24rem;
}

.firstdate2 {
  padding-bottom: 13.5rem;
}


.skill-bar {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.interests{
  text-decoration: none;
}


.w3-border {
  background-color: #00315c;
  border-style:none;
}
/* 
.w3-white {
  border-color:black;
  border-style:none;
} */

.projects-section {
  text-decoration: none;
}

#date {
  text-align: right;
}

.zoom {

  transition: transform .2s;
 
  }


.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}
